body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #FF4C68;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.nav-item{
    font-size: 20px;
    margin: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

/* Download Button */
.download-button{
    margin: 5% 3% 5% 0%;
}

.title-img{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features Section */
#features{
    margin: 0 auto;
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}
.features-item{
    text-align: center;
    padding: 5%;
}
.features-img{
    color: #ef8172;
    margin-bottom: 1rem;
    font-size: 4rem;
}
.features-img:hover{
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonials-img{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
}
.card{
    text-align: center;
}
.pricing-btn{
    width: 100%;
    font-size: 1.25rem;
}
.pricing-col{
    padding: 3% 2%;
}

/* cta Section */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}
.h3-cta{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;

}

/* footer */
#footer{
    padding: 7% 15%;
    text-align: center;

}
.footer-icon{
    margin: 0 15px 15px;
}
@media (max-width:1000px) {
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: none;
        width: 60%;
    }
}