<%- include('header'); -%>
    
<h2>This is about page</h2> 
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus est quaerat quia, repudiandae tempora ipsam
minima et aperiam magni, necessitatibus maxime. Nostrum incidunt modi dolore corporis pariatur laudantium magnam
ducimus.
</p>

<%- include('footer'); -%>