body{
    background-color: none;
}
hr{
    background-color: none;
    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
    width: 4%;
}
img{
    height: 200px;
    width: 200px;
}

h1, h3{
    color: #439A97;
}