a{
    color: #11999E;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.img-profile, .img-skill1, .img-skill2{
    width: 200px;
    height: 200px;
}
.top-container{
    background-color: #BFEAF5;
    padding-top: 50px;
    /* border: solid 10px;
    padding: 20px; */
}
.middle-container{


}
.bottom-container{

}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: calc(50% - 250px);
}
.top-cloud{
    position: relative;
    left: 200px;
}
